html {
 width:100%;
}
body {
	background: #fff url('../images/bodybg.jpg') repeat-x scroll top left;
	margin:0;
	padding:0;
	font-family: Dotum, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #444;
 width:100%;
}

* {
	margin:0;
	padding:0;
}

table {
 border:0px;
 padding:0px;
 margin:0px;
 border-collapse: collapse;
}

p {
	line-height: 1.9em;
	margin-bottom: 20px;
}

a:link {
	color: #111;
	text-decoration: none;
}

a:visited{
	color: #111;
	text-decoration: none;
}

a:hover {
	color: #4E67A2;
	text-decoration: underline;
}

a:active{
	color: #111;
	text-decoration: none;
}

a:focus {
	outline: none;
}

h1 {
	color: #999;
	font-size: 35px;
}

h2 {
	color: #000;
	font-family: Dotum, Arial, Helvetica, sans-serif;
	font-size: 26px;
	letter-spacing: 0.5px;
	font-weight: normal;
	padding: 0 0 5px;
	margin: 0;
}

h3 {
	color: #4E67A2;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
}

h4 {
	padding-bottom: 10px;
	font-size: 15px;
	color: #333333;
}

h5 {
	padding-bottom: 10px;
	font-size: 13px;
	color: #333333;
}

ul, ol {
	margin: 0 0 35px 35px;
}

li {
	padding-bottom: 5px;
}

li ol, li ul {
	font-size: 1.0em;
	margin-bottom: 0;
	padding-top: 5px;
}

.clear {
	clear: both;
}

.center{
 text-align:center;
}

.right{
 text-align:right;
}

.inputtext{
	border:1px solid #2969b0;
	height:21px;
	padding-top:2px;
	font-size:12px;
	font-family:Dotum,돋움;
}

#container {
	margin:0;
	padding:0;
	width:100%;
}

#header {
	padding: 0;
	margin: 0;
	height: 94px;
}

#header h1  {
	padding-top: 20px;
}

#header h1 a {
	font-family: dotum, Arial, Helvetica, sans-serif;
	color: #999;
	font-size: 57px;
	font-weight: bold;
	text-decoration: none;
	letter-spacing: -5px;
	float: left;
}

#header h1 a strong {
	font-weight: bold;
	color: #ccc;
}

#header h2 {
	color: #111;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	margin-left: 12px;
	margin-top: 30px;
	padding-left: 4px;
	text-transform: uppercase;
	letter-spacing: 0;
}

#nav {
	background: #fff url('../images/navbg.jpg') repeat-x scroll top left;
	height: 70px;
	width: 100%;
}

#nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
	height: 70px;
	width:1200px; /*줄바뀜 문제 해결 못함. 메뉴 늘어날때마다 바꿔줄것*/
	white-space:nowrap;
}

#nav ul li {
	float: left;
	display:inline;
	padding: 0;
	white-space:nowrap;
}

#nav ul li a {
	color: #EEEEEE;
	display: block;
	font-family: Dotum, Tahoma, Geneva, sans-serif;
	font-size: 13px;
	font-weight: normal;
	letter-spacing: 2px;
	padding: 28px 20px 26px;
	text-decoration: none;
	border-right: 1px solid #666;
	float: left;
}

#nav ul li a:hover {
	background: #191919;
}

#content {
 background-color:#fff;
 padding: 30px 15px;
 font-family: Dotum, Tahoma, Geneva, sans-serif;
	font-size: 13px;
}

#footer {
 background: #333 none repeat-x scroll top left;
 padding: 20px 5px;
}

#footer p {
	text-align: center;
	color: #fff;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding-left: 0;
}

#footer p a {
	color: #fff;
}

.subscript{
 color:gray;
 font-size:8pt;
}

#update{
 width:700px;
 height:100px;
 overflow-y:scroll;
 line-height:1.9em;
}