table.example {
	border-collapse:collapse;
	font-size:9pt;
	font-family:dotum;
}

table.example th {
	background-color:#333;
	color:white;
	border:1px solid #666;
	padding:3px 15px 3px 15px;
	white-space:nowrap;
}

table.example td {
	/*background-color:#fff;*/
	color:black;
	border-bottom: 1px solid #666;
	padding:3px 5px 3px 5px;
	white-space:nowrap;
}

table.example tr:hover{
 background-color:lightgray;
}

/* Sorting */
th.table-sortable {
	cursor:pointer;
	background-image:url("../images/sortable.gif");
	background-position:center left;
	background-repeat:no-repeat;
	padding-left:12px;
}
th.table-sorted-asc {
	background-image:url("../images/sorted_up.gif");
	background-position:center left;
	background-repeat:no-repeat;
}
th.table-sorted-desc {
	background-image:url("../images/sorted_down.gif");
	background-position:center left;
	background-repeat:no-repeat;
}
th.table-filtered {
	background-image:url("../images/filter.gif");
	background-position:center left;
	background-repeat:no-repeat;
}
select.table-autofilter {
	font-size:smaller;
}

table.example tbody tr td.searched{
 background-color:#DCDCDC;
}

table.example tbody a:link{
 text-decoration:none;
}
table.example tbody a:visited{
 text-decoration:none;
}
table.example tbody a:hover{
 text-decoration:underline;
}