#unitInfoTotal{
 table-layout:fixed;
 width:750px;
}

.unitInfo {
	width:100%;
}

.unitInfo .rank {
 color: #4E67A2;
 font-size:17px;
 font-family:Dotum, Arial, Helvetica, sans-serif;
 font-weight:bold;
}

.unitInfo .rank img{
 vertical-align:middle;
}

.unitInfo .weaponNum{
 border-bottom:0px;
 width:33%;
}

.unitInfo .weaponImg{
 border-top:0px;
 border-bottom:0px;
 text-align:center;
}

.unitInfo .weaponName{
 border-top:0px;
 text-align:center;
 font-weight:bold;
}

.unitInfo .skillName{
 border-top:0px;
 text-align:center;
 border-bottom:0px;
 font-weight:bold;
}

.unitInfo .skillDesc{
 border-top:0px;
 vertical-align:top;
}

.unitInfo .leftHeader{
	width:100px;
}