.unitSimulator{
}

#simulatorConfig .rank{
	width:40px;
}

#simulatorConfig .property{
	width:40px;
}

#simulatorStat .change{	
}

#simulatorStat .right{
	padding-right:10px;
}

#simulatorStat .finalStat{
	font-weight:bold;
}

#simulatorStat input{
	width:15px;
}

#simulatorEtc .header {
	width:580px;
}